<div class="wrapper">
  <app-header></app-header>

  <div class="content">
    <router-outlet></router-outlet>
    <app-auth-modal></app-auth-modal>
  </div>

  <app-footer></app-footer>

<button #chatbotButton class="chatbot-button" (click)="toggleChatbot()">
  <img src="/assets/logo-transparent.png" alt="ChatBot" width="40" height="40" />
</button>

<div *ngIf="isChatbotVisible" class="chatbot-box" #chatbotBox>
  <div class="chat-messages">
    <div *ngFor="let msg of messages">
    <div>
      <div class="message user" *ngIf="msg.from === 'user'">
        <b>Vi:</b> {{ msg.text }}
      </div>
      <div class="message bot" *ngIf="msg.from === 'bot'">
        <b class="bot-prompt">Rekreacija++:</b>
        <p [innerHTML]="msg.text | linkify"></p>
      </div>
      <hr>
    </div>
  </div>
  </div>
  <div class="chat-input">
    <input [(ngModel)]="userInput" (keydown.enter)="sendMessage()" placeholder="Napišite poruku..." />
    <button (click)="sendMessage()">Pošalji</button>
  </div>
</div>

</div>
