.modal-dialog {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.modal-content {
  max-width: 500px;
  width: 90%;
}

@media (max-width: 768px) {
  .modal-content {
    position: fixed;
    width: 100%;
    left: 0;
  }
}
