#page-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#reservation-div {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4%;
}

.football {
    background-image: url('/assets/football-bg.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.basketball {
    background-image: url('/assets/basketball-bg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tennis {
    background-image: url('/assets/tennis-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#info-div {
    height: 100%;
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 72.8vh;
    overflow-y: auto;
    font-size: 1rem;
}

.separator-line {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.738);
    margin: 0;
    width: 100%;
  }

h1 {
    margin: 1rem;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

ngb-datepicker {
    margin-left: 45%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
    border: none;
}

ngb-datepicker:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

:host ::ng-deep .ngb-dp-header,
:host ::ng-deep .ngb-dp-weekdays {
    background-color: #308c26;
}

:host ::ng-deep .ngb-dp-arrow-btn,
:host ::ng-deep .ngb-dp-weekday {
    color: white;
}

:host ::ng-deep .ngb-dp-arrow-btn:hover {
    color: rgb(206, 206, 206);
}

h3 {
    color: white; 
    font-family: "Special Gothic Expanded One", sans-serif; 
    font-size: 1.2rem; 
    font-weight: bold;
    margin-top: 1rem;
}

.time-picker {
    margin: 5%;
    width: 10rem;
    border-color: rgb(230, 230, 230);
    border-radius: 12px;
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
}

.time-picker:hover {
    background-color: rgb(224, 224, 224);
}

#start-time-picker {
    margin-top: 20%;
}

#end-time-picker {
    margin-top: 5%;
    margin-bottom: 20%;
}

#reserve-btn {
    margin-top: 20%;
    display: inline-block;
    background: #308c26;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    transform: scale(1);

    &:hover {
        background: #25692b;
        transform: scale(1.05);
    }
}

ng-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.star-rating {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
}
  
.star-wrapper {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}

.star-wrapper .fa-star {
    position: absolute;
    top: 0;
    left: 0;
    color: #f8d64e;
    overflow: hidden;
    display: block;
}

.star-wrapper .far.fa-star {
    color: #ccc;
    display: block;
}

