<div id="map">
    <div class="info-sidebar" [class.open]="selectedTeren" *ngIf="openInfo">
        <button class="close-btn" (click)="closeSidebar()">×</button>
        <h2 style="padding-top: 5%;">{{ selectedTeren?.name }}</h2>
        <img [src]="selectedTeren?.img_url" alt="{{ selectedTeren?.name }}" />
        <p><strong>Adresa: </strong> {{ selectedTeren?.adress }}</p>
        <p><strong>Kontakt: </strong> {{ selectedTeren?.contact }} </p>
        <p>{{selectedTeren?.description}}</p>
        <button (click)="goToRezervacija(selectedTeren?.id)" class="popup-btn schedule-btn">
            Zakaži termin
        </button>
    </div>
</div>

