<header class="p-3 mb-0">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <a href="/" class=" fw-bold d-flex align-items-center mb-2 mb-lg-0 pe-5 link-body-emphasis text-decoration-none text-white fs-4">
        <img src="assets/logo-transparent.png" width="150" height="40">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="" class="nav-link px-2 link-body-emphasis text-white left-side"><b>Početna</b></a></li>
        <li><a href="/teren" class="nav-link px-2 link-body-emphasis text-white left-side"><b>Tereni</b></a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis text-white left-side"><b>Ekipa</b></a></li>
        <li><a href="/about" class="nav-link px-2 link-body-emphasis text-white left-side"><b>O nama</b></a></li>
      </ul>

      <div class="admin-panel" *ngIf="showAdminIcon" (click)="goToAdminPanel()">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
          <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
        </svg>
      </div>
      <div class = "notification-wrapper" style="position: relative;">
        <button (click)="goToNotifications()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell" id="bell">
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
          </svg>
        </button>
        <a href="/notifications" class="nav-link px-2 link-body-emphasis text-black"><b>Obavještenja</b></a>
      </div>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Profil</a></li>
          <li><a class="dropdown-item" routerLink="/login">Prijava</a></li>
          <li><a class="dropdown-item" routerLink="/register" >Registracija</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" id="sign-out" (click)="logout()">Odjavite se</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
