<header class="p-3 mb-0">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <a href="/" class=" fw-bold d-flex align-items-center mb-2 mb-lg-0 pe-5 link-body-emphasis text-decoration-none text-white fs-4">
        <img src="assets/logo-transparent.png" width="150" height="40">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="" class="nav-link px-2 link-body-emphasis text-white left-side"><b>Početna</b></a></li>
        <li><a href="/teren" class="nav-link px-2 link-body-emphasis text-white left-side"><b>Tereni</b></a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis text-white left-side"><b>Ekipa</b></a></li>
        <li><a href="/about" class="nav-link px-2 link-body-emphasis text-white left-side"><b>O nama</b></a></li>
      </ul>

      <div class = "notification-wrapper" style="position: relative;">
        <button (click)="toggleNotifications()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell" id="bell">
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
          </svg>
        </button>
        <a href="/" class="nav-link px-2 link-body-emphasis text-black"><b>Obavještenja</b></a>
        <div *ngIf="showNotifications" class="obavjestenja open">
          <app-obavjestenja></app-obavjestenja>
        </div>
      </div>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/register" >Register</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
