#h3-box{
  font-family: "Special Gothic Expanded One", sans-serif;
}

#h3-box2{
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 30px;
}

#h2-box2{
  font-family: "Special Gothic Expanded One", sans-serif;
  color: #308c26;
}

.blurred-box{
  background-color: rgba(0, 0, 0, 0.2); // tamna providna pozadina
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  margin: auto;
  margin-bottom: 6rem;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
}

.slider-section {
  margin-top: 6rem;
  background-color: white;
  padding: 4rem 2rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.slider-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  overflow: hidden;
}

.slider-slide {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centriraj sadržaj */
  animation: fade 0.6s ease-in-out;
}

.slider-slide img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.slider-slide.active {
  display: flex;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(48, 140, 38, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  z-index: 10;
}

.slider-arrow.left {
  left: 10px;
}

.slider-arrow.right {
  right: 10px;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.slide-content {
  position: relative; /* Važno za pozicioniranje teksta */
  width: 100%;
  height: 100%;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centriraj tekst */
  color: white;
  background-color: rgba(0, 0, 0, 0.30); /* Poluprozirna pozadina za čitljivost */
  padding: 1rem;
  border-radius: 10px;
  z-index: 1; /* Osiguraj da je iznad slike */
  width: 80%;
}

.slide-text h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.slide-text p {
  font-size: 1.5rem;
}
